
h1{
    font-family: serif;
    text-align: center;
}
.tribute{
    background: black;
    color:whitesmoke;
}
.name{
    color:blue;
    text-align: center;
}
.container{
    text-align: center;
     border-left: 1000px;
    display: block;
}
.imgtext{
    color: blue;
}
.imgtext1{
    font-weight: bold;
    letter-spacing: 4px;
}
.content{
display: block;
border-radius: inherit;
background:black; 
color: whitesmoke;

}
ul {
    display: block;
    list-style-type: disc;
    margin-top: 1em;
    margin-bottom: 1 em;
    margin-left: 0;
    margin-right: 0;
    padding-left: 40px;
  }
.imgtext2{
    font-weight: bold;
    letter-spacing: 2px;
    text-align: center;
}
.conclude{
    font-style: italic;
}

